.navigator{
	width: 20%;
	height: 88vh;
	background: #8E2DE2;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-radius: 35px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/*margin-left: 3%;*/
	animation: navigation .25s;
  	animation-duration: .50s;
}
.navigator > div > p{
	color: white;
	font-size: 1.5rem;
	margin:15px 0px 15px 0px;
	padding: 0px;
}
.navigator > div > p:hover{
	transform: scale(1.1);
	transform: translateX(20px);
	cursor: pointer;
}
.navigator > div{
	width: 80%;
	position: relative;
}
.navigator > hr{
	color:white;
	height: 1px;
	width: 80%;
	background-color: white;
	margin:0px;
	padding: 0px;
	opacity: 0.6;
}
.container{
	display: flex;
	align-items: center;
	padding:50px;
}


.wrapper{
	width: 80%;
	height: 88vh;
	/*border:solid 1px black;*/
	padding-left: 50px;
	z-index: 1;
	animation: createBox .25s;
  	animation-duration: .50s;
}

.header{
	width: 100%;
	height: 10%;
	position: relative;
	display: flex;
	align-items: center;
	border-bottom: solid 1px grey;
}
.header > h4{
	position: absolute;
	left: 0px;
}
.header > div{
	position: absolute;
	right: 0px;
	display: flex;
	align-items: center;
}
.header > div > img{
	width: 50px;
	height:50px;
	border-radius: 50%;
}

.header > div > p:hover{
	cursor: pointer;
}
.info{
	width: 100%;
	height: 90%;
	display: flex;
	overflow: hidden;
}

.wrapper > p{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90%;
	font-size: 6rem;
	margin:0px;
	color: #cdcdcd;
}

@keyframes navigation {
  from {
      transform: translateX(-150%);
  }
  to {
      transform: translateX(0%);
    
  }
}

@keyframes createBox {
  from {
      transform: translateY(-50%);
  }
  to {
      transform: translateY(0%);
  }
}