.box{
	width: 35vw;
	height: 68vh;
	/*border:solid 1px black;*/
	border-radius: 5%;
	overflow: hidden;
	box-shadow: -1px 31px 102px -26px rgba(0,0,0,0.64);
	-webkit-box-shadow: -1px 31px 102px -26px rgba(0,0,0,0.64);
	-moz-box-shadow: -1px 31px 102px -26px rgba(0,0,0,0.64);
}
.section1{
	width: 100%;
	height: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f0f1f2;
	font-size: 1.7rem;
	color:grey;
}
.section2{
	padding: 0 8% 0 8%;
	overflow-y: scroll; 
	height: 85%;
}

.detail{
	width: 100%;
	height: 70px;
	border-bottom: solid 1px grey;
	display: flex;
	align-items: center;
}
.detail > img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.detail > p{
	font-size: 18px;
	color:grey;
	padding-left: 20px;
}
a{
	text-decoration: none;
}